<!doctype html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/css/vendor/swiper/swiper.min.css">
  <link rel="stylesheet" href="/assets/css/vendor/swiper/pagination.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  {{ content | safe }}
  <script type="module" src="/assets/js/hero-carousel.js"></script>
</body>
</html>