<div class="sm-hero__media">

  <div id="sm-hero-carousel" class="sm-hero__carousel">

    <div class="sm-hero__slides">

      <article class="sm-hero__slide">
        <img src="/assets/images/hero/reparacion-linea-blanca-cdmx-servicio-munguia.webp" alt="Reparación de lavadoras y refrigeradores a domicilio">
      </article>

      <article class="sm-hero__slide">
        <img src="/assets/images/hero/reparacion-lavadoras-cdmx-servicio-munguia.webp" alt="Zonas de cobertura de Servicio Munguía">
      </article>

      <article class="sm-hero__slide">
        <img src="/assets/images/hero/reparacion-refrigeradores-cdmx-servicio-munguia.webp" alt="Marcas de lavadoras y refrigeradores que atendemos">
      </article>

      <article class="sm-hero__slide">
        <img src="/assets/images/hero/reparacion-electrodomesticos-cdmx-servicio-munguia.webp" alt="Proceso de diagnóstico y reparación de Servicio Munguía">
      </article>

      <article class="sm-hero__slide">
        <img src="/assets/images/hero/Mantenimiento-linea-blanca-cdmx-servicio-munguia.webp" alt="Contacto con Servicio Munguía para solicitar servicio">
      </article>

    </div>

    <div class="sm-hero__pagination"></div>

  </div>

</div>