<section id="inicio" class="sm-hero">

  <div class="sm-hero__wrapper">

    {% include "components/header.njk" %}

    {% include "components/hero-media.njk" %}

    {% include "components/hero-content.njk" %}

  </div>

</section>