<div class="sm-hero__content">
  <div id="sm-hero-slide-title" class="sm-hero__slide-title">¿Cómo trabajamos?</div>
  <h1 class="sm-hero__heading">Diagnóstico y reparación de lavadoras y refrigeradores a domicilio</h1>
</div>