<nav id="sm-menu-overlay" class="sm-menu-overlay" aria-hidden="true">
  <div class="sm-menu-overlay__inner">

    <div class="sm-menu-overlay__navigation">
      <nav class="sm-menu-overlay__primary-nav" aria-label="Menu">
        <ul class="sm-menu-overlay__list">
          <li class="sm-menu-overlay__item">
            <a class="sm-menu-overlay__link" href="#como-trabajamos">¿Cómo trabajamos?</a>
          </li>
          <li class="sm-menu-overlay__item">
            <a class="sm-menu-overlay__link" href="#servicios">Servicios</a>
          </li>
          <li class="sm-menu-overlay__item">
            <a class="sm-menu-overlay__link" href="#zonas-de-cobertura">Cobertura</a>
          </li>
          <li class="sm-menu-overlay__item">
            <a class="sm-menu-overlay__link" href="#marcas">Marcas</a>
          </li>
          <li class="sm-menu-overlay__item">
            <a class="sm-menu-overlay__link" href="#contacto">Contacto</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="sm-menu-overlay__contact">
      <div class="sm-menu-overlay__contact-label">CONTACTO</div>
      <a class="sm-menu-overlay__contact-link" href="mailto:contacto@serviciomunguia.com">
        contacto@serviciomunguia.com
      </a>
      <a class="sm-menu-overlay__contact-link" href="https://wa.me/525647957364">
        +52 56 4795 7364
      </a>
    </div>

  </div>
</nav>
