---
layout: base.njk
lang: es-MX
title: SERVICIO MUNGUÍA
description: Servicio técnico de reparación de lavadoras y refrigeradores.
---

<div class="sm-app-shell">

  <div class="sm-page-scroll">

    {% include "components/hero.njk" %}

    <main>
    </main>

  </div>


  {% include "components/menu-overlay.njk" %}

  {% include "components/mobile-nav.njk" %}

</div>